<h1>Log in Page</h1>

<form action='/sessions' method='post'>
  <input type="email" placeholder="Email" name="email" required>
  <input type='password' placeholder="Password" name="password">
  <input type="submit" value='login'>
</form>
